{
  "extends": "stylelint-config-standard",
  "rules": {
    "string-quotes": "single",
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "font-family-no-missing-generic-family-keyword": null,
    "comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "after-comment"]
    } ],
    "declaration-colon-space-after": "always-single-line",
    "indentation": 2,
    "max-empty-lines": 2,
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    } ],
    "unit-allowed-list": ["em", "rem", "%", "s", "ms", "px", "vh", "vw", "deg", "fr"],
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "value-keyword-case": ["lower", {
      "ignoreKeywords": ["optimizeLegibility", "BlinkMacSystemFont"]
    }],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "each", "include", "mixin", "at-root", "tailwind", "apply", "layer", "screen", "variants", "import-normalize"]
    }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global", "local"]
    }]
  }
}
